/* ----- Browser Reset ----- */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

.body {
    box-sizing: border-box;
    width: 100vw;
    height: auto;
    font-family: 'Poppins', sans-serif;
}

/* ----- Declared Variables ----- */
:root {
    --signup-orange: #ff9900;
    --header-black: #2f281e;
    --paragraph-black: #544837;
    --button-text: #173a56;
    --btn-hover: #f8a831;
    --white: #fff;
}

/* ----- Navigation Meny ----- */
.nav {
    display: flex;
    width: 100%;
}

.logo {
    position:relative;
    width: 18.5rem;
    height: 3rem;
    left: 14.4rem;
    top: 4.2rem;
}

.nav__links {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    position: relative;
    top: 3.5rem;
    right:12rem;
}

.nav__links-menu {
    margin-left: 3rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: var(--header-black);
    /* identical to box height, or 200% */
}

.nav__links-menu:hover {
    transform: scale(1.2);
    transition: ease-in-out .2s;
    text-decoration-line: underline;
    text-decoration-color: var(--signup-orange);
}

/* ----- Navigation Buttons ----- */
.nav__buttons {
    width: 2.2rem;
    
}

.small-btn {
    width: 11rem;
    height: 4.6rem;
    border-radius: .4rem;
    border: none;
    list-style-type: none;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    /* identical to box height */
}

.btn--signin {
    border: .15rem solid #bcd0e5;
    color: var(--button-text);
    background-color: transparent;
    margin-left: 3rem;
}

.btn--signup {
    background-color: var(--signup-orange);
    color: var(--white);
    margin-left: 1.4rem;
    

}

/* ----- Navigation Buttons Hover ----- */
.btn--signin:hover {
    border: .2rem solid #ff9900;
    cursor: pointer;
    transform: scale(1.2);
    transition: ease-in-out .2s;
}

.btn--signup:hover {
    border: .2rem solid #ff9900;
    background-color: var(--btn-hover);
    cursor: pointer;
    transform: scale(1.2);
    transition: ease-in-out .2s;
}

/* ----- Header ----- */
.header {
    position: absolute;
    width: 113rem;
    height: 50rem;
    top: 12.8rem;
    left: 14.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content {
    display: flex;
    width: 51.8rem;
    height: 40rem;
    
    flex-direction: column;
    justify-content: space-around;
}

.header__content-primary {
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 5.4rem;
    /* or 123% */
    color: var(--header-black);
    width: 46rem;
    height: 9.5rem;
}

.header__content-secondary {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.8rem;
    /* or 156% */
    color: var(--paragraph-black);
}

/* ----- Header image ----- */
.header__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- Header button ----- */
.large-btn {
    width: 17.5rem;
    height: 5.3rem;
    border: none;
    background-color: var(--signup-orange);
    color: var(--white);
    border-radius: .4rem;

    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
/* identical to box height */
}

.large-btn:hover {
    border: .2rem solid #ff9900;
    background-color: var(--btn-hover);
    cursor: pointer;
    transform: scale(1.2);
    transition: ease-in-out .2s;
}

#header__video {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.video--box {
    width: 18rem;
    height: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-content:center;
    margin-left: 3rem;
}

.video--box:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: ease-in-out .2s;
} 

.header__content-video {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    /* identical to box height */
    text-decoration-line: underline;
    color: var(--signup-orange);
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 14px solid transparent;
	border-left: 32px solid #ff9900;
	border-bottom: 14px solid transparent;
}

/* ----- Features -----*/
.features {
    position: absolute;
    top: 70rem;
    left: 14.5rem;
    width: 112rem;
    height: 50rem;
}

.features__heading-primary {
    width: 54rem;
    height: 10.8rem;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 5.4rem;
    text-align: center;
    margin: auto;
    color: var(--header-black);
}

.features__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

.features__content-box {
    width: 24rem;
    margin-top: 5rem;
}

.features__icon {
    width: 5rem;
    height: 5rem;
}

.features__heading {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 3.3rem;
    /* identical to box height */
    color: var(--header-black);
    margin-top: 3rem;
}

.features__text {
    height: 7.8rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.6rem;
    /* or 162% */
    color: var(--paragraph-black);
    margin-top: 1.3rem;
}

.feature__button {
    display: block;
    margin: auto;
    margin-top: 3.4rem;
}

/* ----- Design Section ----- */
.design__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 130rem;
    left: 14.5rem;
    width: 112rem;
    height: 57.4rem;
}

.design__text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.design__text-heading {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 5.4rem;
    /* identical to box height */
    color: var(--heading-black);
}

.design__sub-heading {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.6rem;
    /* identical to box height, or 162% */
    color: var(--heading-black);
}

.design__paragraph {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.6rem;
    /* or 162% */
    color: var(--paragraph-black);
    width: 48.6rem;
}

.design__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- Product Section ----- */
.product__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 190rem;
    left: 14.5rem;
    width: 112rem;
    height: 57.4rem;
}

.product__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45rem;
    width: 50rem;
}

.product__text-heading {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 5.4rem;
    /* identical to box height */
    color: var(--heading-black);
}

.product__paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: var(--paragraph-black);
    width: 38rem;
}

.product__checkbox-container {
    display: flex;
    align-content: space-evenly;
    margin-top: 2rem;
}

.product-icon {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 3rem;
}

/* ----- Marketers Section ----- */
.market__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 255rem;
    left: 14.5rem;
    width: 112rem;
    height: 57.4rem;
}

.market__text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.market__text-heading {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 5.4rem;
    /* identical to box height */
    color: var(--heading-black);
}

.market__sub-heading {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.6rem;
    /* identical to box height, or 162% */
    color: var(--heading-black);
}

.market__paragraph {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.6rem;
    /* or 162% */
    color: var(--paragraph-black);
    width: 48.6rem;
}

.market__img {
    display: flex;
    justify-content: center;
    align-items: center;
}
