/* ----- Browser Reset ----- */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

.body {
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

/* ----- Declared Variables ----- */
:root {
    --signup-orange: #ff9900;
    --header-black: #2f281e;
    --paragraph-black: #544837;
    --button-text: #173a56;
    --btn-hover: #f8a831;
    --white: #fff;
}

/* ----- Navigation Meny ----- */
.nav {
    display: flex;
    width: 100%;
}

.logo {
    position:relative;
    width: 18.5rem;
    height: 3rem;
    left: 14.4rem;
    top: 4.2rem;
}

.nav__links {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    list-style-type: none;

    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: var(--header-black);
    /* identical to box height, or 200% */
}

/* ----- Navigation Buttons ----- */
.btn {
    width: 11rem;
    height: 4.6rem;
    border-radius: .4rem;
    border: none;

    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    /* identical to box height */
}

.btn--signin {
    border: .15rem solid #bcd0e5;
    color: var(--button-text);
    background-color: transparent;
}

.btn--signup {
    background-color: var(--signup-orange);
    color: var(--white);
}

/* ----- Navigation Buttons Hover ----- */
.btn--signin:hover {
    border: .2rem solid #ff9900;
    cursor: pointer;
    transform: scale(1.2);
    transition: ease-in-out .2s;
}

.btn--signup:hover {
    border: .2rem solid #ff9900;
    background-color: var(--btn-hover);
    cursor: pointer;
    transform: scale(1.2);
    transition: ease-in-out .2s;
}