/* ----- Browser Reset ----- */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

.body {
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* ----- Declared Variables ----- */
:root {
    --signup-orange: #ff9900;
    --header-black: #2f281e;
    --paragraph-black: #544837;
    --button-border: #bcd0e5;
    --white: #fff;
}

/* ----- Navigation Meny ----- */
